@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: rgb(240, 206, 255);
    --cor1: #9D4BFB;
    --cor2: #7500FA;
    --cor3: #5D00C7;
    --cor4: #4D257A;
    --cor5: #39007A;
    --cor6: #1B003B;

    --font-main: 'Catamaran', sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    --font-logo: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

hr {
    color: var(--cor5);
}

body {
    font-family: var(--font-main);
    background-color: var(--cor6);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), 30%, var(--cor6));
    height: 120px;
}

header h1 {
    font-family: var(--font-logo);
    color: white;
    font-size: 4.5em;
    letter-spacing: 3px;
    padding-top: 20px;
    text-align: center;
    text-shadow: 4px 4px 1px black;
}

nav {
    background-color: white;
    position: relative;
    height: 60px;
    max-width: 940px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid var(--cor4);
    border-radius: 25px;
    box-shadow: 4px 4px 1px black;
}

nav ul {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    position: relative;
    list-style: none;
}

nav a {
    text-decoration: none;
    margin: 0px 3px;
    color: var(--cor6);
    padding: 8px 18px;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.1em;
}

nav a:hover {
    background-color: var(--cor6);
    color: white;
    border-radius: 25px;
    transform: translateX(5px);
    transition: 0.2s;
}

main {
    background-color: white;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 1px black;
}

main article {
    padding: 10px;
}

main h2 {
    background-color: var(--cor6);
    font-family: var(--font-titulo);
    color: white;
    font-size: 1.8em;
    padding: 10px;
    margin: 0px -20px 20px ;
    padding: 10px 10px 10px 20px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 1px black;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.315);
    font-weight: 800;
}

article h1 {
    font-family: var(--font-titulo);
    background-color: var(--cor5);
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    border-radius: 25px;
    text-shadow: 3px 3px 1px black;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.315);
}

article p {
    font-size: 1.1em;
    font-weight: 520;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
    text-align: justify;
}

article strong {
    font-weight: 1000;
}

.analises-home {
    background-color: var(--cor0);
    max-width: 850px;
    min-width: 250px;
    border: 1px solid var(--cor5);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.315);
}

.analises-home h3 {
    font-family: var(--font-titulo);
    font-size: 1.5em;
    background-color: var(--cor5);
    color: white;
    border-radius: 15px 15px 0px 0px;
    margin: -21px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    text-shadow: 3px 3px 1px black;
}


.analises-home img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.analises-home button {
    background-color: var(--cor5);
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid var(--cor5);
    display: block;
    margin-left: auto;
}

.analises-home button > a {
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
}

.analises-home button:hover {
    background-color: white;
    transition: 0.2s;
}

.analises-home button:hover > a {
    color: var(--cor5);
    font-weight: bold;
}

footer {
    background-color: #39007a83;
    color: white;
    height: 200px;
}

footer p {
    padding-top: 15px;
    text-align: center;
    font-size: 1em;
}

#contatos {
    padding-top: 20px;
    text-align: center;
}

#contatos a {
    padding: 15px;
}

#contatos i {
    font-size: 2em;
    color: var(--cor4);
}

#contatos a:hover > i {
    color: magenta;
    transition: 0.5s;
}
