@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: rgb(240, 206, 255);
    --cor1: #9D4BFB;
    --cor2: #7500FA;
    --cor3: #5D00C7;
    --cor4: #4D257A;
    --cor5: #39007A;
    --cor6: #1B003B;

    --font-main: 'Catamaran', sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    --font-logo: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-main);
    background-color: white;
}

header {
    background-color: var(--cor6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > a {
    text-decoration: none;
    font-family: var(--font-logo);
    color: white;
    font-size: 3.5em;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 4px 4px 1px black;
    margin: 0px 20px;
    width: 260px;
}

header button {
    display: none;
    margin-left: auto;
}

nav#nav {
    position: relative;
    display: flex;
}

#menu > #contatos-menu {
    display: none;
}

#menu {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 430px;
    border-radius: 30px;
    margin-right: 20px;
    border: 2px solid var(--cor4);
}

#menu li {
    position: relative;
    list-style: none;
}

#menu a {
    text-decoration: none;
    margin: 0px 4px;
    color: var(--cor6);
    padding: 4px 10px;
    font-weight: 800;
    font-size: 1.1em;
    border-radius: 30px;
}

#menu a:hover {
    background-color: var(--cor6);
    color: white;
    border-radius: 30px;
    transform: translateX(5px);
    transition: 0.5s;
}

main {
    background-color: white;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

main article {
    padding: 10px;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor6), 90%, var(--cor0));
    font-family: var(--font-titulo);
    color: white;
    font-size: 1.8em;
    margin: 0px -20px 20px ;
    padding: 10px 10px 10px 20px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 1px black;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.315);
    font-weight: 800;
}

article h1 {
    font-family: var(--font-titulo);
    background-color: var(--cor5);
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 10px 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    text-shadow: 3px 3px 1px black;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.315);
}

article p {
    font-size: 1.1em;
    font-weight: 520;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
    text-align: justify;
}

article strong {
    font-weight: 1000;
}

.analises-home {
    background-color: var(--cor0);
    max-width: 850px;
    min-width: 250px;
    border: 1px solid var(--cor5);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.315);
}

.analises-home h3 {
    font-family: var(--font-titulo);
    font-size: 1.5em;
    background-color: var(--cor5);
    color: white;
    border-radius: 15px 15px 0px 0px;
    margin: -21px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    text-shadow: 3px 3px 1px black;
}

.analises-home h4 {
    font-family: var(--font-titulo);
    font-size: 1.5em;
    background-color: var(--cor5);
    color: white;
    margin: -21px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    text-shadow: 3px 3px 1px black;
}

.analises-home img {
    width: 500px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.analises-home a[rel=external]:after {
    content: '\00A0\1F517\00A0';
}

.link-a {
    background-color: #c28cff;
    padding: 0px 5px;
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.ler-mais {
    text-decoration: none;
    text-align: center;
    font-family: var(--font-main);
    background-color: var(--cor5);
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid var(--cor5);
    width: 140px;
    display: block;
    margin-left: auto;
}

.ler-mais:hover {
    background-color: white;
    color: var(--cor5);
    transition: 0.5s;
}

footer {
    background-color: var(--cor6);
    color: white;
    height: 200px;
}

footer p {
    padding-top: 15px;
    text-align: center;
    font-size: 1em;
}

#contatos {
    padding-top: 20px;
    text-align: center;
}

#contatos a {
    padding: 15px;
}

#contatos i {
    font-size: 2em;
    color: var(--cor4);
}

#contatos a:hover > i {
    color: magenta;
    transition: 0.5s;
}


@media (max-width: 680px) {
    #menu {
        display: none;
    }

    #btn-menu {
        display: flex;
        margin-right: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #btn-menu > i {
        color: white;
        font-size: 40px;
    }

    #btn-menu .fa-times {
        display: none;
    }

    #menu { 
        display: flex;
        position: absolute;
        top: 60px;
        border: none;
        border-radius: 0;
        width: 0;
        margin: 0;
        height: calc(100vh - 60px);
        right: 0;
        transition: 0.6s;
        background-color: var(--cor6);
        visibility: hidden;
        overflow-x: hidden;
        border-radius: 0px 0px 0px 15px;
    }

    #contatos-menu {
        height: 50px;
        position: absolute;
        display: block;
        align-items: center;
        margin-bottom: 20px;
        bottom: 0;
        left: 50%;
        margin-left: -11vh;
    }

    #contatos-menu i:hover {
        color: blueviolet;
    }

    #contatos-menu i {
        color: white;
        font-size: 2em;
        padding-left: 10px;
    }

    #nav.active #menu {
        top: 85;
        display: block;
        width: 50vw;
        visibility: visible;
        overflow-x: auto;
    }

    #nav.active #menu a.navegar {
        color: white;
        display: block;
        padding: 10px 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 10px;
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    #nav.active #menu a.navegar:hover {
        background-color: white;
        color: var(--cor6);
        margin-right: 1rem;
        padding-left: 15px;
        border-radius: 30px;
        transition: 0.2s;
    }

    #nav.active #contatos-menu {
        position: absolute;
        display: flex;
        visibility: visible;
    }

    #nav.active .fa-times {
        display: block;
        font-size: 50px;
    }

    #nav.active .fa-bars {
        display: none;
        font-size: 40px;
    }

}

@media (max-width: 450px) {
    header > a {
        font-size: 2.5em;
        width: 250px;
        margin: 0;
    }

    #contatos-menu {
        left: 11.5vh;
        margin-left: -9.5vh;
    }

    #contatos-menu i {
        color: white;
        font-size: 1.5em;
        padding-left: 5px;
    }

    #bnt-menu .fa-times {
        font-size: 40px;
    }

    #bnt-menu .fa-bars {
        font-size: 20px;
    }
}
